:root{
    --primary-color: #1067f4;
    --secondary-color: #e7e6e6;
    --third-color: #0e0d11;
    --text-color: #1f1f1f;
    --text-color-dark: #d3d3d3;
    --text-body-font: "Bookman Old Style", sans-serif;
    --text-title-font: Georgia, 'Times New Roman', Times, serif;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
i{
    color: #1067f4;
}